---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro';
import Services from '../components/services.astro';
import Galery from '../components/galery.astro';
import Ubication from '../components/ubication.astro'
import Contact from '../components/contact.astro';
import Header from '../components/header.astro'
---

<Layout title="Carlos Paz Hostel - Luxury Experience">
  <main>
	<section>
		<Header />
	</section>
	<section>
    	<Hero />
	</section>
	<section id="services">
   	 <Services />
	</section>
	<section id="galery">
		<Galery/>
	</section>
	<section id="ubication">
		<Ubication/>
	</section>
	<section id="contact">
		<Contact/>
	</section>

    </main>
</Layout>